@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400&display=swap");
:root {
  --MainBlack: #2d2d2d;
  --MainLightBlack: #414141;
  --MainBlue: #7996fc;
  --SecWhite: #ffffff;
  --SecGray: #c9c9c9;
  --Background: #858585;
  --BorderRadius: 5px;
  --BoxShwod: 0px 0px 15px rgba(121, 150, 252, 0.15);
  --fontSiz: 20px;
  --margin-left-and-right: 0% 100px;
  --margin_top: 100px;
  --margin-bottom: 100px;
}
.App {
  background-color: var(--MainBlack) !important;
}
.background_color {
  margin: var(--margin-left-and-right);
}
.ant-layout-header {
  background-color: var(--MainBlack) !important;
}
.menu {
  background-color: var(--MainBlack);
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 20px;
  border: none;
  color: #c9c9c9;
}
.ant-layout {
  background-color: var(--MainBlack) !important;
}
.ant-menu-item-active::after {
  border-bottom: none !important;
}
.ant-menu-item-only-child::after {
  border-bottom: none !important;
}
.item:hover {
  color: #c9c9c9 !important;
}
// Profile text and image style
.logo {
  width: 70px;
  position: absolute;
  top: 280px;
  left: 180px;
}
.figma {
  width: 70px;
  position: absolute;
  top: 180px;
  left: 490px;
}
.anticon svg {
  width: 40px;
}
.image_col img {
  height: 621px;
  position: relative;
}
.text_description {
  color: var(--SecWhite) !important;
  word-spacing: 7px;
  font-size: 56px !important;
  line-height: 81px !important;
  text-align: left;
}
.text_description span {
  display: block;
}
.hire_me,
.hire_me2 {
  border: none;
  background-color: var(--MainBlue);
  color: var(--SecWhite);
  border-radius: var(--BorderRadius);
  box-shadow: var(--BoxShwod);
  margin-right: 46px;
  font-size: var(--fontSiz);
  width: 174px;
}

.Portfolio {
  border: none;
  background-color: var(--MainLightBlack);
  color: var(--SecWhite);
  border-radius: var(--BorderRadius);
  box-shadow: var(--BoxShwod);
  font-size: var(--fontSiz);
  width: 174px;
}
.get_touch {
  border: none;
  background-color: var(--MainLightBlack);
  color: var(--SecWhite);
  border-radius: var(--BorderRadius);
  box-shadow: var(--BoxShwod);
  font-size: var(--fontSiz);
  margin-top: 20px;
  width: 400px;
}
.title_responsive {
  display: none;
}
// UserDetails Style
.user_details_div {
  color: var(--SecWhite);
  margin-top: var(--margin_top);
  margin-bottom: var(--margin-bottom);
}
.title_color {
  color: var(--SecGray) !important;
}
.text_description2 {
  font-size: 30px !important;
  color: var(--SecWhite) !important;
  text-align: left;
}
.project_images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
.project_images img {
  border-radius: 15px;
  width: 280px;
  margin-bottom: 20px;
}
// See more
.see_more {
  margin-left: 60px;
  margin-top: 60px;
  margin-bottom: var(--margin-bottom);
  display: flex;
  justify-content: space-between;
}
.see_more_btn {
  display: flex;
  justify-content: space-evenly;
}
.Dribbble {
  height: 50px;
  width: 200px;
  margin-left: 50px;
}
.text_color {
  color: var(--SecGray) !important;
  letter-spacing: 1px;
}
.hire_me2 {
  border: none;
  background-color: var(--MainBlue);
  color: var(--SecWhite);
  border-radius: var(--BorderRadius);
  box-shadow: var(--BoxShwod);
  margin-right: 0px;
  font-size: var(--fontSiz);
}
.card_row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card_item {
  background-color: var(--MainLightBlack) !important;
  border: none;
  border-radius: 15px;
  margin-bottom: var(--margin-bottom);
  width: 360px;
  text-align: left;
}
.card_item p {
  color: var(--SecGray);
}
.txt {
  color: var(--SecWhite) !important;
}
.linkedIn {
  margin-top: 40px;
}
.btn_style {
  width: 200px;
  height: 50px;
}
.btn {
  background-color: var(--MainBlue);
  border: none;
  color: var(--SecWhite);
  margin-left: 10px;
  border-radius: 5px;
}
.call_btn {
  transform: rotate(90deg);
  font-size: 20px;
}
.footer {
  background-color: var(--MainLightBlack);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 24px;
  padding-bottom: 80px;
  padding-top: 50px;
  color: var(--SecWhite) !important;
  flex-wrap: wrap;
}
.footer p {
  font-size: 20px;
  color: var(--SecGray);
}
.ant-row-middle {
  align-items: normal;
}
.color_change p {
  color: var(--SecWhite);
}
.prot {
  color: var(--SecWhite) !important;
}
.reference_text {
  color: var(--SecWhite) !important;
}

// Responsive design
$medium: 1163px;
$small: 561px;
$verySmall: 410px;

@media screen and (max-width: $medium) {
  .logo,
  .figma {
    display: none;
  }
  .image_col img {
    width: 289px;
    height: 314px;
  }
  .reponsive_design {
    display: block;
    text-align: center;
  }
  .text_description {
    font-size: 40px !important;
    line-height: 50px !important;
  }
  .reponsive_btn {
    margin: 0%;
    text-align: left;
  }
  .res_hire_me {
    margin-bottom: 20px;
    width: 400px;
  }
  .title {
    margin: 0%;
    text-align: left;
    display: none;
  }
  .title_responsive {
    margin: 0%;
    display: block;
  }
  //
  .text_description2 {
    font-size: 20px !important;
  }
  .see_more {
    margin-left: 0%;
  }
  .see_more_btn {
    display: block;
  }
  .Dribbble {
    margin-left: 0%;
  }
  .footer {
    display: block;
    text-align: center;
  }
}

// For small screen
@media screen and (max-width: $small) {
  .res_hire_me,
  .get_touch {
    width: 200px;
  }
  .btn {
    width: 200px;
    margin-left: 0%;
    margin-top: 10px;
  }
  .linkedIn {
    margin-top: 20px;
  }
  .responsive_card_item {
    min-width: 250px;
  }
  .project_images img {
    width: 217px;
  }
}

// Very Small screen
@media screen and (max-width: $verySmall) {
  .background_color {
    margin-left: 10%;
  }
}
