:root {
  --MainBlack: #2d2d2d;
  --MainLightBlack: #414141;
  --MainBlue: #7996fc;
  --SecWhite: #ffffff;
  --SecGray: #c9c9c9;
  --Background: #858585;
  --BorderRadius: 5px;
  --BoxShwod: 0px 0px 15px rgba(121, 150, 252, 0.15);
  --fontSiz: 20px;
}
* {
  font-family: "Jost", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400&display=swap");
.ant-layout-header {
  background-color: var(--MainBlack) !important;
}
.menu {
  background-color: var(--MainBlack);
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 20px;
  border: none;
  color: #c9c9c9;
}
.ant-layout {
  background-color: var(--MainBlack) !important;
}
.ant-menu-item-active::after {
  border-bottom: none !important;
}
.ant-menu-item-only-child::after {
  border-bottom: none !important;
}
.item:hover {
  color: #c9c9c9 !important;
}
.col1 img {
  height: 621px;
  position: relative;
}
.logo {
  width: 70px;
  position: absolute;
  top: 280px;
  left: 180px;
}
.figma {
  width: 70px;
  position: absolute;
  top: 180px;
  left: 490px;
}

.description {
  color: var(--SecWhite) !important;
  word-spacing: 7px;
  font-size: 56px !important;
  line-height: 81px !important;
}
.description span {
  display: block;
}
.hire_me,
.hire_me2 {
  border: none;
  background-color: var(--MainBlue);
  color: var(--SecWhite);
  border-radius: var(--BorderRadius);
  box-shadow: var(--BoxShwod);
  margin-right: 46px;
  font-size: var(--fontSiz);
}
.Portfolio {
  border: none;
  background-color: var(--MainLightBlack);
  color: var(--SecWhite);
  border-radius: var(--BorderRadius);
  box-shadow: var(--BoxShwod);
  font-size: var(--fontSiz);
}
.get_touch {
  border: none;
  background-color: var(--MainLightBlack);
  color: var(--SecWhite);
  border-radius: var(--BorderRadius);
  box-shadow: var(--BoxShwod);
  font-size: var(--fontSiz);
  margin-top: 20px;
}
.anticon svg {
  width: 40px;
}
// Description
.title_color {
  color: var(--SecGray) !important;
}
.description2 {
  font-size: 32px !important;
  color: var(--SecWhite) !important;
  margin-bottom: 80px;
}
.project_image {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
.project_image img {
  border-radius: 15px;
  width: 280px;
  margin-bottom: 20px;
}
.text_color {
  color: var(--SecGray) !important;
  letter-spacing: 1px;
}
.Dribbble {
  height: 50px;
  width: 200px;
  margin-left: 50px;
  margin-bottom: 50px;
}
.hire_me2 {
  border: none;
  background-color: var(--MainBlue);
  color: var(--SecWhite);
  border-radius: var(--BorderRadius);
  box-shadow: var(--BoxShwod);
  margin-right: 0px;
  font-size: var(--fontSiz);
}
.reference_text {
  color: var(--SecWhite) !important;
}

.card_item {
  background-color: var(--MainLightBlack) !important;
  border: none;
  border-radius: 15px;
  margin-bottom: 40px;
  width: 360px;
}
.card_item p {
  color: var(--SecGray);
}
.txt {
  color: var(--SecWhite) !important;
}
.btn_style {
  width: 200px;
  height: 50px;
}
.call_btn {
  transform: rotate(90deg);
  font-size: 20px;
}
.btn {
  background-color: var(--MainBlue);
  border: none;
  color: var(--SecWhite);
  margin-left: 10px;
  border-radius: 5px;
}
.footer {
  background-color: var(--MainLightBlack);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 24px;
  padding-top: 50px;
  padding-bottom: 80px;
  color: var(--SecWhite) !important;
  flex-wrap: wrap;
}
.prot {
  color: var(--SecWhite) !important;
}
.footer p {
  font-size: 20px;
  color: var(--SecGray);
}
.color_change p {
  color: var(--SecWhite);
}
.see_more {
  margin-left: 220px;
  margin-top: 50px;
}
.row_margin {
  margin: 0% 100px;
}
.title_responsive {
  display: none;
}
.card_row {
  margin: 10px 100px 120px;
  display: flex;
  justify-content: space-between;
}
$medium: 1163px;
$small: 715px;
$verySmall: 600px;

@media screen and (max-width: $medium) {
  .logo,
  .figma {
    display: none;
  }
  .reponsive_btn {
    flex-wrap: wrap;
    display: block;
  }
  .reponsive_design {
    display: block;
    justify-content: center;
    margin: 0 auto;
  }
  .res_btn_margin {
    margin-top: 20px;
  }
  .res_hire_me {
    width: 340px;
  }
  .resp_btns {
    display: block;
  }
  .resp_btns div {
    width: 334px;
  }
  .Dribbble {
    margin-bottom: 30px;
  }
  .text_color {
    text-align: center;
  }
  .footer {
    display: block;
    text-align: center;
  }
  .description2 {
    font-size: 20px !important;
  }
}

@media screen and (max-width: $small) {
  .col1 img {
    width: 90%;
    height: auto;
  }
  .resp_btns2 {
    margin: 0% 50px;
    margin-top: 40px;
  }
}

@media screen and (max-width: $verySmall) {
  .description {
    line-height: 48px !important;
    font-size: 40px !important;
    margin-bottom: 40px !important;
  }
  .row_margin {
    margin: 0% 50px;
  }
  .res_hire_me,
  .get_touch {
    width: 200px;
  }
  .text_color {
    text-align: left;
  }
  .project_image img {
    width: 200px;
  }
  .call_btn {
    width: 150px;
  }
  .colo_width {
    width: 300px;
  }
  .title {
    font-size: 10px;
  }
  .title_responsive {
    display: block;
  }
  .title {
    display: none;
  }
  .Dribbble {
    margin-left: 0%;
  }
  .responsive_margin {
    margin-left: 50px;
  }
  .btn {
    margin-left: 0px;
    width: 200px;
    margin-top: 20px;
  }
}
